<h1>応募者詳細</h1>
<ul class="list-unstyled">
  <li class="media mb-3">
    <div class="media-body" style="padding: 2px 4px 5px; border: 1px solid #333;">
      <div>
        <%= @message.user.name %> <span class="text-muted">投稿日時:<%= @message.created_at.to_s(:datetime_jp) %></span>
      </div>
      <div class="container">
        <div class="row">
          <div class="p-0 col-3 col-sm-2 col-md-2 col-lg-1">
            応募内容：
          </div>
          <div class="p-0 col-9 col-sm-10 col-md-10 col-lg-11">
            <%= @message.content %>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>

<% unless @message.request.exchanges.present? %>
  <%= form_with(model: @exchange, local: true) do |f| %>
    <%= f.hidden_field :request_id, :value => @message.request_id %>
    <div class="form-group">
      <%= f.label :content, 'メッセージ' %>
      <%= f.text_area :content, class: 'form-control' %>
    </div>

    <%= f.submit 'この人に依頼する', class: 'btn btn-primary btn-block', data: {confirm: "この内容で依頼しますか？"} %>
  <% end %>
<% else %>
  <p style="font-weight: 700; color: red;"><%= 'すでに依頼済みです' %></p>
<% end %>
<p><%= link_to '戻る', :back, class: 'btn btn-primary btn-sm' %></p>