<h1>やりとり一覧</h1>
<table class="table table-striped table-bordered table-hover">
  <tr>
    <th><%= '依頼タイトル' %></th>
    <th><%= 'コメント' %></th>
    <th><%= '応募ユーザ名' %></th>
    <th><%= '詳細' %></th>
  </tr>
  <% exchanges = [] %>
  <% @exchanges.each do |exchange| %>
    <% unless exchanges.member?(exchange.request_id) %>
      <% exchanges << exchange.request_id %>
      <tr>
        <td><%= exchange.request.title %></td>
        <td><%= exchange.content %></td>
        <td><%= exchange.user.name %></td>
        <td><%= link_to '詳細', exchange_path(exchange), class: 'btn btn-primary btn-block' %></td>
      </tr>
    <% end %>
  <% end %>
</table>