<h1>オフライン一覧 (全<%= Request.where(online_or_offline: "1").count %>件)</h1>
<ul class="list-unstyled">
  <% @requests.each do |req| %>
    <li class="media mb-3">
      <div class="media-body" style="padding: 2px 20px 5px; border: 1px solid #333333;">
        <div>
          <%= req.user.name %> <span class="text-muted">投稿日時:<%= req.created_at.to_s(:datetime_jp) %></span>
        </div>
        <div>
          タイトル：<%= req.title %>
        </div>
        <div>
          金額：<%= req.money %>円
        </div>
        <div>
          県・市区：<%= req.prefecture %>
        </div>
        <div class="row">
          <% if current_user == req.user %>
            <%= link_to "Delete",req, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
          <% end %>
          <%= link_to '詳細', request_path(id:req), class: 'btn btn-primary btn-sm' %>
        </div>
      </div>
    </li>
  <% end %>
</ul>