<h1>依頼が受諾されました</h1>

<% unless @request.payment %>
  <%= form_tag charges_path(request_id: @request.id) do %>
    <article>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
      <label class="amount">
        <span>依頼料：<%= @request.money %>円</span>
      </label>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="<%= @request.title %>の依頼料"
            data-amount="<%= @request.money %>"
            data-locale="ja"
            data-currency="JPY"	></script>
  <% end %>
<% else %>
  <%= 'すでに支払い済みです' %>
<% end %>